h1{
    border: 2px dashed red;
    width: 50%;
    font: size 3rem;
    padding: 0.5cm;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box; //border-box or content-box same
}
.container{
    border: 2px solid blue;
    font: size 1.5rem;
    margin: 1em;
    padding: 1em;
}




